html {
  font-size: 55.5556px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

@keyframes cdmove {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.nowrap1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.red {
  color: #f5222d !important;
}

.hide {
  display: none !important;
}

.music-box {
  display: flex;
  padding: 6vh 10vw;
  flex-direction: column;
  align-items: center;
}

.music-box .cd-pic {
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
  animation: cdmove 10s linear infinite;
}

.music-box .cd-pic.stop {
  animation: cdmove 10s linear infinite;
  animation-play-state: paused;
}

.music-box .play_info {
  width: 100%;
  height: 1.5rem;
}

.music-box .play_info .play_info_fix {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.music-box .play_info .play_song {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  height: 0.72rem;
  line-height: 0.72rem;
}

.music-box .play_info .play_song > span {
  font-size: 0.4rem;
  font-weight: bold;
  color: #000;
  display: block;
  max-width: 100%;
}

.music-box .play_info .play_singer {
  font-size: 0.24rem;
  color: #666;
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
  max-width: 100%;
}

.music-box .play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.music-box .play .icon {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  z-index: 11;
  color: #fff;
}

.music-box .footer {
  position: absolute;
  bottom: 2rem;
}

.music-box .btn {
  padding: 5px 16px;
  font-size: 14px;
  border-radius: 4px;
  border-color: #D8D8D8;
  line-height: normal;
  color: #595959;
  background: #fff;
  border: 1px solid #D8D8D8;
  white-space: nowrap;
}
